@import "_normalize";
@import "_variables";

html {
    box-sizing: border-box;
    background: $blue;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $text;
    background: $blue;
    font-family: Roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
main {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    /* shadow */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    margin-top: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.water_glass_svg {
    margin-top: 106px;
    text-align: center;
}
.button_group {
    text-align: center;
}
.button_plus {
    margin: 20px;
    width: 84px;
    height: 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.button_minus {
    margin: 20px;
    width: 84px;
    height: 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.fas {
    font-size: 30px;
}
.tekst_informacja{
    text-align: center;
    justify-content: center;
}